<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
	<test name="tests">
		<classes>
			<class name="tests.AddIssueTest" />
			<class name="tests.LoginTest" />
			<class name="tests.NewTest" />
			<class name="tests.LogOut" />
		</classes>
	</test>	<!-- Test -->
</suite> <!-- Suite -->
